[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
django-extensions = "*"
django-debug-toolbar = "*"
coverage = "*"
twine = "*"
setuptools = "*"
setuptools-scm = "*"
wheel = "*"

[requires]
python_version = "3.9"
